{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
{% image page.background_image original as bg %}
<div class="hero d-flex align-items-center" style="background-image: url('{{ bg.url }}');">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center">
        <div class="hero-text">
          {{ page.hero_text|safe }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
