{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
{% image page.background_image original as bg %}
<div class="hero d-flex align-items-center" style="background-image: url('{{ bg.url }}');">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch p-0">
        <div class="hero-text">
          <!-- Desktop stacked layout from Wagtail -->
          <div class="desktop-only">
            {{ page.hero_text|safe }}
          </div>

          <!-- Mobile layout override -->
          <div class="mobile-only mobile-layout">
            <div class="mobile-top">MIRIAM</div>
            <div class="mobile-bottom">GRADEL</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
