{% extends "base.html" %}
{% load static %}

{% block title %}Internal server error{% endblock %}

{% block body_class %}template-500{% endblock %}

{% block side_menu %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
  <section class="error-page text-center d-flex align-items-center justify-content-center">
    <div class="error-content">
      <h1 class="error-code">500</h1>
      <h2 class="error-title">Internal server error</h2>
      <p class="error-message">
        Sorry, there seems to be an error. Please try again soon.
      </p>
      <a href="/" class="btn btn-primary mt-3">Return Home</a>
    </div>
  </section>
{% endblock %}
